/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.bhromaon-section {
  background-image: url(../images/bhromaon-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .bhromaon-section__info {
    width: 355px;
    margin: 0 auto; }
  .bhromaon-section__title {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 9px;
    font-size: 48px;
    padding-top: 271px;
    letter-spacing: 1px;
    text-align: center; }
  .bhromaon-section__subtitle {
    color: #ffffff;
    font-family: 'josefin_sansregular';
    letter-spacing: 5px;
    margin-top: 9px;
    font-size: 22px;
    text-align: center; }
  .bhromaon-section__form {
    width: 654px;
    margin: 0 auto; }
  .bhromaon-section__search-input {
    width: 402px;
    height: 60px;
    padding-right: 126px;
    padding-left: 126px;
    display: block;
    position: relative;
    background-color: #ffffff;
    border: none;
    outline: none; }
    .bhromaon-section__search-input::-webkit-input-placeholder {
      font-size: 14px;
      font-family: 'josefin_sansregular';
      letter-spacing: 3px; }
    .bhromaon-section__search-input:-ms-input-placeholder {
      font-size: 14px;
      font-family: 'josefin_sansregular';
      letter-spacing: 3px; }
    .bhromaon-section__search-input::-ms-input-placeholder {
      font-size: 14px;
      font-family: 'josefin_sansregular';
      letter-spacing: 3px; }
    .bhromaon-section__search-input::placeholder {
      font-size: 14px;
      font-family: 'josefin_sansregular';
      letter-spacing: 3px; }
  .bhromaon-section__button {
    width: 143px;
    height: 58px;
    font-size: 14px;
    font-family: 'aleoregular';
    position: absolute;
    margin-left: 508px;
    margin-top: -60px;
    text-align: center;
    border: none;
    color: #ffffff;
    outline: none;
    background: url(../images/search-magni.png) #5474fd;
    background-position: 90% 50%;
    background-repeat: no-repeat;
    background-size: content; }

.bhromaon-menu-section {
  color: #e8e8e8;
  background-color: #5474fd; }
  .bhromaon-menu-section__flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bhromaon-menu-section__logo-title {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    text-transform: uppercase; }
  .bhromaon-menu-section__links {
    padding-right: 45px;
    padding-left: 45px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-family: 'aleoregular';
    text-transform: uppercase; }

.whoweare-section {
  background-image: url(../images/whoweare-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .whoweare-section__flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 120px; }
  .whoweare-section__description {
    width: 537px;
    height: 448px; }
  .whoweare-section__description-title {
    color: #ffffff;
    text-align: left;
    font-size: 36px;
    font-family: 'aleoregular'; }
  .whoweare-section__description-text {
    color: #e8e8e8;
    text-align: left;
    font-family: 'josefin_sansregular';
    font-size: 16px; }
  .whoweare-section__description-button {
    width: 225px;
    height: 58px;
    color: #ffffff;
    background-color: #496bfe;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'aleoregular'; }
  .whoweare-section__graphics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .whoweare-section__home-img {
    left: 0; }
  .whoweare-section__nature-img {
    text-align: left; }

.svg-section {
  color: #e8e8e8;
  background-color: #333333; }
  .svg-section__flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .svg-section__details {
    text-align: center;
    padding-top: 95px;
    padding-bottom: 95px; }

.whatwedo-section {
  background-image: url(../images/whatwedo-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .whatwedo-section__description {
    margin-top: 228px;
    margin-bottom: 99px;
    width: 542px;
    height: 369px;
    padding: 30px;
    background-color: #232323;
    opacity: .8; }
  .whatwedo-section__description-subtitle {
    color: #ffffff;
    text-align: left; }
  .whatwedo-section__description-title {
    color: #ffffff;
    text-align: left; }
  .whatwedo-section__description-text {
    color: #ffffff;
    text-align: left; }
  .whatwedo-section__button {
    width: 224px;
    height: 59px;
    color: #ffffff;
    background-color: #5474fd;
    border: none;
    outline: none; }

.travelwithus-section {
  background-image: url(../images/traverwithus-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .travelwithus-section__description {
    margin-top: 228px;
    margin-bottom: 99px;
    width: 542px;
    height: 369px;
    padding: 30px;
    background-color: #232323;
    margin-left: 500px; }
  .travelwithus-section__description-subtitle {
    color: #ffffff;
    text-align: left; }
  .travelwithus-section__description-title {
    color: #ffffff;
    text-align: left; }
  .travelwithus-section__description-text {
    color: #ffffff;
    text-align: left; }
  .travelwithus-section__button {
    width: 224px;
    height: 59px;
    color: #ffffff;
    background-color: #5474fd;
    border: none;
    outline: none; }

.our-tourist-section {
  background-image: url(../images/whatourtouristsa-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .our-tourist-section__container {
    padding-top: 100px;
    padding-bottom: 199px; }
  .our-tourist-section__description {
    width: 789px;
    margin: 0 auto;
    padding-bottom: 95px; }
  .our-tourist-section__description-title {
    color: #ffffff;
    text-align: center; }
  .our-tourist-section__flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .our-tourist-section__description-img-box {
    width: 447px;
    height: 285px; }
  .our-tourist-section__description-img {
    width: 100%; }
  .our-tourist-section__description-info-box {
    width: 553px;
    height: 189px;
    padding-top: 50px;
    padding-bottom: 46px;
    padding-left: 55px;
    padding-right: 55px; }
  .our-tourist-section__description-subtitle {
    color: #ffffff; }
  .our-tourist-section__description-text {
    color: #ffffff; }

.footer-section {
  background-color: #232323; }
  .footer-section__description {
    width: 256px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin: 0 auto; }
  .footer-section__description-first-box {
    width: 256px; }
  .footer-section__description-title {
    text-align: center;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px; }
  .footer-section__description-text {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #ffffff; }
  .footer-section__description-second-box {
    width: 256px;
    text-align: center; }
  .footer-section__description-imgs {
    margin-right: 9px;
    margin-left: 9px; }

@font-face {
  font-family: 'aleoregular';
  src: url("aleo-regular-webfont.woff2") format("woff2"), url("aleo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'josefin_sansbold';
  src: url("josefinsans-bold-webfont.woff2") format("woff2"), url("josefinsans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'josefin_sansregular';
  src: url("josefinsans-regular-webfont.woff2") format("woff2"), url("josefinsans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  padding: 15px; }

.container {
  width: 100%;
  max-width: 1112px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px; }
