.bhromaon-section {
	background-image: url(../images/bhromaon-bg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	&__info {
		width: 355px;
		margin: 0 auto;
	}
	&__title {
		color: #ffffff;
		font-family: 'Josefin Sans', sans-serif;
		text-transform: uppercase;
		margin-bottom: 9px;
		font-size: 48px;
		padding-top: 271px;
		letter-spacing: 1px;
		text-align: center;
	}
	&__subtitle {
		color: #ffffff;
		font-family: 'josefin_sansregular';
		letter-spacing: 5px;
		margin-top: 9px;
		font-size: 22px;
		text-align: center;
	}
	&__form {
		width: 654px;
		margin: 0 auto;
	}
	&__search-input {
		width: 402px;
		height: 60px;
		padding-right: 126px;
		padding-left: 126px;
		display: block;
		position: relative;
		background-color: #ffffff;
		border: none;
		outline: none;
		&::placeholder {
			font-size: 14px;
			font-family: 'josefin_sansregular';
			letter-spacing: 3px;
		}
	}
	&__button {
		width: 143px;
		height: 58px;
		font-size: 14px;
		font-family: 'aleoregular';
		position: absolute;
		margin-left: 508px;
		margin-top: -60px;
		text-align: center;
		border: none;
		color: #ffffff;
		outline: none;
		background: url(../images/search-magni.png) #5474fd;
		background-position: 90% 50%;
		background-repeat: no-repeat;
		background-size: content;
	}
}